*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}
a{ 
	text-decoration: none;
}
ul{ 
	list-style-type: none;
}
/*input:focus{
	outline: none;

}*/

/*.contact{
	background: url(../img/current.png) no-repeat top;
}*/

.banner{ 
		width: 100%; 
        height: 600px; 
        position: relative; 
        overflow: hidden;
        margin-bottom: 60px;
}
.banner .bd{ 
			width: 1920px; 
			height: 600px; 
			position: absolute; 
			left: 50%; 
			margin-left: -960px;
}
.banner .bd li{ 
				width: 1920px; 
				height: 600px;
}
.banner .bd li a{ 
				width: 1920px; 
				height: 600px; 
				display: block;
}
.banner .bd li a img{  
					width: 1920px; 
					height: 600px;
}
.banner .hd{ 
			width: 126px; 
			height: 22px; 
			left: 50%;
			margin-left: -52px; 
			margin-top: 568px; 
			position: absolute;
}
.banner .hd li{ 
				width: 22px;
				height: 22px;
				float: left;
				margin-right: 20px;
				background: url(../img/bd_hove.png) no-repeat;
				cursor: pointer;
}
.banner .hd .on{
	background: url(../img/bd_bg.png) no-repeat;
	cursor: pointer;
}
.banner .hd li:hover{
	background: url(../img/bd_bg.png) no-repeat;
}

.content{
	width: 100%;
	margin-bottom: 70px;
}
.content .main{
	width: 1200px;
	height: auto;
	margin: 0px auto;
}
.contach_sidebar{
	width: 200px;
	float: left;
}
.sidebar{
	width: 200px;
	border: 1px solid #1dcf85;
	margin-right: 38px;
	margin-bottom: 49px;
	text-align: center;
}
.sidebar .title{
	width: 200px;
	height: 73px;
	background: #1dcf85;
	padding-top: 36px;
	padding-bottom: 18px;
}
.sidebar .title h4{
	font-family: arial;
	font-size: 20px;
	color: #fcffff;
}
.sidebar .title h5{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fcffff;
}
.sidebar p{
	margin-top: 8px;
	font-family: arial;
	font-size: 14px;
	color: #1dcf85;
}

.sidebar span{
	display: block;
	font-family: "微软雅黑";
	font-size: 14px;
	height: 28px;
	color: #1dcf85;
	border-top: 1px solid #1dcf85;
	width: 146px;
	margin: auto;
	padding-top: 8px;
	margin-top: 10px;
	
}
.sidebar b{
	display: block;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #1dcf85;
	margin-bottom: 10px;
}
.search_title{
	width: 200px;

	border: 1px solid #1dcf85;
	margin-right: 38pxs;
	margin-bottom: 49px;
	text-align: center;
}
.search_title .title{
	width: 200px;
	height: 73px;
	background: #1dcf85;
	padding-top: 36px;
}
.search_title .title h4{
	font-family: arial;
	font-size: 20px;
	color: #fcffff;
}
.search_title .title h5{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fcffff;
}
.search_title form{
	position: relative;
}
.search_title form .search{
	width: 136px;
	height: 36px;
	border: 1px solid #c4c4c4;
	margin-top: 9px;
	margin-bottom: 9px;
	padding:0 30px 0 5px ;
	line-height: 36px;

}
.search_title form .btn{
	width: 24px;
	height: 36px;
	background: url(../img/search_bg.png) no-repeat;
	border: 0px;
	float: right;
	position: absolute;
	right: 15px;
	top: 10px;
	cursor: pointer;
}
.contach_list{
	float: right;
	margin-bottom: 18px;
}
.contach_title{
	width: 960px;
	height: 34px;
	float: left;
	border-bottom: 1px dotted #d2d2d2;
}
.contach_title img{
	display: inline;
}
.contach_title h4{
	display: inline;
	font-family: "微软雅黑";
	font-size: 20px;
}
.main .contach_title h5{
	display: inline;
	font-family: arial;
	font-size: 14px;
}
.map{
	float: right;
	margin-bottom: 54px;
}

.msg{
	float: right;
	width: 960px;
	height: auto;
}

.msg form h5{
	font-family: "微软雅黑";
	font-size: 20px;
	display: inline-block;
	margin-bottom: 24px;
}
.msg form{
	float: left;
	width: 510px;
	height: 346px;
	padding-left: 20px;
	outline: none;
	resize:none;
}

.msg form input{
	margin-bottom: 10px;
	width: 278px;
	height: 28px;
	padding-left: 5px;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 28px;
	border: 1px solid #e0dddd;
}
.msg form textarea{
	width: 432px;
	height: 112px;
	overflow: hidden;
	padding-left: 5px;
	font-family: "微软雅黑";
	font-size: 14px;
	vertical-align: top;
	margin-bottom: 10px;
	border: 1px solid #e0dddd;
	padding-top: 3px;
	resize: none;
}
.msg form img{
	width: 70px;
	height: 30px;
	display: block;
	float: right;
	margin-right: 80px;
	cursor: pointer;
}
.msg form .submit{
	width: 96px;
	height: 30px;
	background: #e6e6e6;
	border: 1px solid #e0dddd;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-top: 14px;
	margin-left: 72px;
	margin-right: 74px;
	cursor: pointer;
	text-align: center;
	padding-right: 5px;
}
.msg form .reset{
	width: 96px;
	height: 30px;
	background: #e6e6e6;
	border: 1px solid #e0dddd;
	font-family: "微软雅黑";
	font-size: 14px;
	margin-top: 14px;
	cursor: pointer;
	text-align: center;
	padding-right: 5px;
}
.msg form .submit:hover{
	background: #1dcf85;
	border: 1px solid #1dcf85;
	color: #FFFFFF;
}
.msg form .reset:hover{
	background: #1dcf85;
	border: 1px solid #1dcf85;
	color: #FFFFFF;
}
.msg .tel{
	width: 380px;
	float: right;
}
.msg .tel h5{
	font-family: "微软雅黑";
	font-size: 20px;
	display: inline-block;
	margin-bottom: 30px;
}
.msg .tel p{
	margin-bottom: 24px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333333;
}
