		<div class="footer">
			<div class="footer_top">
				<div class="top">
					<dl>
						<dt><h4>关于我们</h4></dt>
						<dd><a href="###">公司简介</a></dd>
						<dd><a href="###">企业文化</a></dd>
						<dd><a href="###">研发生产</a></dd>
						
					</dl>
					<dl>
						<dt><h4>产品中心</h4></dt>
						<dd><a href="###">金属丝网</a></dd>
						<dd><a href="###">筛网</a></dd>
						<dd><a href="###">防护网</a></dd>
						
					</dl>
					<dl>
						<dt class="wx"><h5>官方微信</h5></dt>
						<dd><img src="<?php echo $code['2dcode']?>" alt="" /></dd>
					</dl>
					<dl>
						<dt><h4>新闻中心</h4></dt>
						<dd><a href="###">最新动态</a></dd>
						<dd><a href="###">企业新闻</a></dd>
						<dd><a href="###">行业新闻</a></dd>
						<dd><a href="###">热点聚焦</a></dd>
					</dl>
					<dl>
						<dt><h4>联系我们</h4></dt>
						<dd><a href="###">在线咨询</a></dd>
						<dd><a href="###">网上留言</a></dd>
						<dd><a href="###">联系我们</a></dd>
					</dl>
				</div>	
			</div>
			<div class="footer_copyright">
				<div class="main">
					<b><?php echo $bq['copyright']?></b>
					<i><?php echo $bq['support']?></i>
				</div>
			</div>
		</div>
	</body>
</html>
